/* Resets Gerais */
* {
    --wine: #a30404;
    --yellow: #fed40e;
    --grey: #e5e5e5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 93.75%;
    /* 100% = 16px | 93.75% = 15px */
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.overflow-hidden {
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;

    background: var(--wine) url(../assets/img/bg_icons.svg);
    /* Configura a imagem de fundo fazendo com que ela se movimente junto com a página ou fique fixe */
    background-attachment: fixed;
    /* Encaixa a imagem onde ela foi colocada sem repetir e centralizada. */
    background-size: cover;
}

/* 
    em = sempre será relativa ao tamanho à propriedade da classe pai. exemplo: font-size:1em ele irá colocar uma vez o tamanho do elemento pai, caso o pai não tinha um tamanho definido ele irá considerar o padrão do navegador
que será 16px 
    rem = sempre será relativa a fonte definida no elemento :root, caso não tenha definida :root irá pegar o padrão do navegador que será 16px
*/
.container{
    width: min(90vw, 800vw);
    padding-top: 4rem;
    margin: auto;
}
.img-fluid{
    width: max(14vw, 100px);
    object-fit: cover;
}
.flex-center-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    flex-direction: row;
}
.text-center{
    text-align: center;
}
/* ============= TITLES ================ */
.titulo-banner h1{
    font-family: "Rum Raisin", sans-serif;
    font-weight: normal;
    font-size: 5rem;
    color: var(--amarelo);
}
/* FIM resets gerais */